<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ec16358.examcompanion">

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SCHEDULE 2 -->
        <activity
            android:name=".Schedule2"
            android:label="@string/title_activity_schedule2"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />


        <!-- HOME LAUNCHER ACTIVITY -->
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- CREATE EVENT -->
        <activity
            android:name=".CreateEvent"
            android:label="@string/title_activity_create_event"
            android:theme="@style/CreateEventTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" />


        <!-- SCHEDULE -->
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <!-- POMODORO -->
        <activity
            android:name=".PomodoroTimer"
            android:label="@string/title_activity_pomodoro_timer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>